@import "variablesStyle";
@import "mainStyle";
@import "headerStyle";
@import "counterStyle";
@import "containerCatalogStyle";
@import "categorieStyle";
@import "detailsProduct";
@import "CartSectionStyle";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    outline: none;
    text-decoration: none;
    &:visited {
        color: white;
    }
}

button {
    cursor: pointer;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
    display: inline-block;
    width: 100%;
    height: fit-content;
    background: $background--header;
    color: $color--header--noactive;
    z-index: 55;
    padding: 0px 10%;
    transition: color 1s ease-in-out;
    &:hover {
        color: $color--header--active;
        transition: color 1s ease-in-out;
    }
}
